// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

//Mobilversionen forside

/* Selve navbaren */

body {
  display: flex;
  justify-content: center;
}

.navbar {
  background-color: #FFF387; /* Gul baggrund */
  padding: 10px;
}

/* Fjern standardliste-stil */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* gør links liggende på række */
}

/* Styling af links */
.navbar ul li a {
  color: black; /* tekstfarve */
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}




//Mobilversionen kontakt